<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="body-registro">
<div class="container-fluid" style="margin-top: 90px" id="con-register">
    <h2 class="mb-4 text-center" th:text="${usuario.id == null} ? '📝 Registrar Usuario' : '✏️ Editar Usuario'"></h2>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post" class="card p-4 shadow-sm bg-white">
                <input type="hidden" th:field="*{id}"/>

                <div class="row">
                    <div class="col-md-6 mb-3"> <label for="razonSocial" class="form-label">Razón Social</label>
                        <input type="text" class="form-control" id="razonSocial" th:field="*{razonSocial}" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nitCc" class="form-label">NIT / CC</label>
                        <input type="text" class="form-control" id="nitCc" th:field="*{nitCc}" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Ingresa nombre del encargado" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" th:field="*{telefono}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" th:field="*{correo}" class="form-control" id="correo" placeholder="ejemplo@correo.com" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="contrasena" class="form-label">Contraseña</label>
                        <input type="password" th:field="*{contrasena}" class="form-control" id="contrasena" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="tipoServicio" class="form-label">Tipo de Servicio</label>
                        <select class="form-control" id="tipoServicio" th:field="*{tipoServicio}">
                            <option value="">-- Seleccione un tipo --</option>
                            <option value="Materia Prima">Materia Prima</option>
                            <option value="Servicios de Limpieza">Servicios de Limpieza</option>
                            <option value="Software">Software</option>
                            <option value="Consultoría">Consultoría</option>
                            <option value="Transporte">Transporte</option>
                            <option value="Seguridad">Seguridad</option>
                            <option value="Marketing y Publicidad">Marketing y Publicidad</option>
                            <option value="Mantenimiento de Equipo">Mantenimiento de Equipo</option>
                            <option value="Asesoría Legal">Asesoría Legal</option>
                            <option value="Telecomunicaciones">Telecomunicaciones</option>
                            <option value="Recursos Humanos">Recursos Humanos</option>
                            <option value="Logística y Distribución">Logística y Distribución</option>
                            <option value="Alquiler de Equipos">Alquiler de Equipos</option>
                            <option value="Servicios Financieros">Servicios Financieros</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <select class="form-control" id="estado" th:field="*{estado}">
                            <option value="Activo">Activo</option>
                            <option value="Pendiente de Aprobación">Pendiente de Aprobación</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="Bloqueado">Bloqueado</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-3" id="btn-volver"> <a th:href="@{/usuarios}" class="btn btn-secondary">⬅️ Volver</a>
                    <button type="submit" class="btn btn-primary" id="btn-guardar">💾 Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>